@font-face {
  font-family: 'Cairobold';
  src: url('../fonts/Cairo-Bold.eot');
  src: url('../fonts/Cairo-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Cairo-Bold.woff2') format('woff2'),
  url('../fonts/Cairo-Bold.woff') format('woff'),
  url('../fonts/Cairo-Bold.ttf') format('truetype'),
  url('../fonts/Cairo-Bold.svg#Cairo-Bold') format('svg');
}

@font-face {
  font-family: 'PetraGlyphDisplayRegular';
  src: url('../fonts/PetraGlyphDisplayRegular.eot');
  src: url('../fonts/PetraGlyphDisplayRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PetraGlyphDisplayRegular.woff2') format('woff2'),
  url('../fonts/PetraGlyphDisplayRegular.woff') format('woff'),
  url('../fonts/PetraGlyphDisplayRegular.ttf') format('truetype'),
  url('../fonts/PetraGlyphDisplayRegular.svg#PetraGlyphDisplayRegular') format('svg');

}

@font-face {
  font-family: 'CairoSemiBold';
  src: url('../fonts/Cairo-SemiBold.eot');
  src: url('../fonts/Cairo-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Cairo-SemiBold.woff2') format('woff2'),
  url('../fonts/Cairo-SemiBold.woff') format('woff'),
  url('../fonts/Cairo-SemiBold.ttf') format('truetype'),
  url('../fonts/Cairo-SemiBold.svg#Cairo-SemiBold') format('svg');
}

@font-face {
  font-family: 'CairoLight';
  src: url('../fonts/Cairo-Light.eot');
  src: url('../fonts/Cairo-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Cairo-Light.woff2') format('woff2'),
  url('../fonts/Cairo-Light.woff') format('woff'),
  url('../fonts/Cairo-Light.ttf') format('truetype'),
  url('../fonts/Cairo-Light.svg#Cairo-Light') format('svg');
}

@font-face {
  font-family: 'CairoExtraLight';
  src: url('../fonts/Cairo-ExtraLight.eot');
  src: url('../fonts/Cairo-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Cairo-ExtraLight.woff2') format('woff2'),
  url('../fonts/Cairo-ExtraLight.woff') format('woff'),
  url('../fonts/Cairo-ExtraLight.ttf') format('truetype'),
  url('../fonts/Cairo-ExtraLight.svg#Cairo-ExtraLight') format('svg');
}

@font-face {
  font-family: 'CairoBlack';
  src: url('../fonts/Cairo-Black.eot');
  src: url('../fonts/Cairo-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Cairo-Black.woff2') format('woff2'),
  url('../fonts/Cairo-Black.woff') format('woff'),
  url('../fonts/Cairo-Black.ttf') format('truetype'),
  url('../fonts/Cairo-Black.svg#Cairo-Black') format('svg');
}

@font-face {
  font-family: 'PetraGlyphTextBoldBold';
  src: url('../fonts/PetraGlyphTextBold-Bold.eot');
  src: url('../fonts/PetraGlyphTextBold-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PetraGlyphTextBold-Bold.woff2') format('woff2'),
  url('../fonts/PetraGlyphTextBold-Bold.woff') format('woff'),
  url('../fonts/PetraGlyphTextBold-Bold.ttf') format('truetype'),
  url('../fonts/PetraGlyphTextBold-Bold.svg#PetraGlyphTextBold-Bold') format('svg');
}

@font-face {
  font-family: 'CairoRegular';
  src: url('../fonts/Cairo-Regular.eot');
  src: url('../fonts/Cairo-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Cairo-Regular.woff2') format('woff2'),
  url('../fonts/Cairo-Regular.woff') format('woff'),
  url('../fonts/Cairo-Regular.ttf') format('truetype'),
  url('../fonts/Cairo-Regular.svg#Cairo-Regular') format('svg');
}

@font-face {
  font-family: 'PetraGlyphDisplayLightLight';
  src: url('../fonts/PetraGlyphDisplayLight-Light.eot');
  src: url('../fonts/PetraGlyphDisplayLight-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PetraGlyphDisplayLight-Light.woff2') format('woff2'),
  url('../fonts/PetraGlyphDisplayLight-Light.woff') format('woff'),
  url('../fonts/PetraGlyphDisplayLight-Light.ttf') format('truetype'),
  url('../fonts/PetraGlyphDisplayLight-Light.svg#PetraGlyphDisplayLight-Light') format('svg');
}

@font-face {
  font-family: 'PetraGlyphDisplayUltraLightUltraLight';
  src: url('../fonts/PetraGlyphDisplayUltraLight-UltraLight.eot');
  src: url('../fonts/PetraGlyphDisplayUltraLight-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PetraGlyphDisplayUltraLight-UltraLight.woff2') format('woff2'),
  url('../fonts/PetraGlyphDisplayUltraLight-UltraLight.woff') format('woff'),
  url('../fonts/PetraGlyphDisplayUltraLight-UltraLight.ttf') format('truetype'),
  url('../fonts/PetraGlyphDisplayUltraLight-UltraLight.svg#PetraGlyphDisplayUltraLight-UltraLight') format('svg');
}

@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeueRegular.eot');
  src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BebasNeueRegular.woff2') format('woff2'),
  url('../fonts/BebasNeueRegular.woff') format('woff'),
  url('../fonts/BebasNeueRegular.ttf') format('truetype'),
  url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
}
